/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.custom-popup-container .mat-mdc-dialog-surface {
   border-radius: 5px !important;
}
