tbody tr:nth-child(odd) {
    background-color: #f2f2f2; /* Light grey */
}

/* Apply a different background color to even rows */
tbody tr:nth-child(even) {
    background-color: #ffffff; /* White */
}

/* Style for table header */
thead th {
    background-color: #54565e; /* Green */
    color: white;
}

button {
    margin-left: 5px;
}

.btnEditItem,.btnDelItem,.btnSaveItem,.btnCancelEdit,.btnCancelAdd{
    width:90px;

}